.company-logos{
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #f5f5f5;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li{
      width: 20%;
      text-align: center;
    }
    img{
      width: 70%;
      height: auto;
      vertical-align: middle;
    }
  }